/*
 * custom css styles
 */

 /*
	* Global styles
 */
 .wp-block-navigation__responsive-container.is-menu-open {
	padding-top: var(--wp--preset--spacing--medium) !important;
	padding-right: var(--wp--preset--spacing--medium) !important;
	padding-bottom: var(--wp--preset--spacing--medium) !important;
	padding-left: var(--wp--preset--spacing--medium) !important;
}

footer .wp-block-button__link {
	min-width: 140px;
}

.normal-container {
	width: 760px;
	margin-left: 0 !important;
}

 @media screen and (max-width: 1440px) {

	/* header social network */
	/* reorder header navigation */
	.header-social-network .wp-block-site-title {
			order: 1;
	}

	/* Navigation */
	.header-social-network .wp-block-navigation {
			order: 3;
			justify-content: flex-end;
	}

	.header-social-network .is-content-justification-right {
			display: none;
	}

	/* header search */
	.header-search .is-content-justification-right {
		flex-direction: row;
		align-items: center;
  }

	/* content*/
	.content-grid-2 .is-layout-flex {
		flex-wrap: wrap;
	}

	.content-grid-2 .alignwide {
		max-width: var(--wp--style--global--content-size);
	}

	.content-grid-2 div > ul {
		margin-right: 0 !important;
	}

	.content-grid-2 .is-layout-flex .wp-block-query:nth-child(2) {
		padding-top: var(--wp--preset--spacing--xlarge);
		margin: auto;
	}

}


@media (max-width: 1000px) {
	/* display breakpoint hamburger menu to 1000px */
	.wp-block-navigation__responsive-container-open:not(.always-shown) {
			display: flex !important;
	}

	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
		display: none;
		position: relative;
  }

	/* header search */
	.header-search .wp-block-group {
		flex-direction: row-reverse;
	}

	.header-search .is-content-justification-right {
		flex-direction: row-reverse;
  }

	/* header search CTA */
	.header-search-cta .is-content-justification-right {
		flex-direction: row-reverse;
  }

	.header-search-cta .wp-block-search__inside-wrapper {
		display: none;
  }

	/* content */
	.normal-container {
		width: inherit;
		margin-left: inherit;
	}

	/* footer */
	footer > .wp-block-group {
		padding-top: var(--wp--preset--spacing--large) !important;
    padding-right: var(--wp--preset--spacing--base) !important;
    padding-bottom: var(--wp--preset--spacing--large) !important;
    padding-left: var(--wp--preset--spacing--base) !important;
	}

}

@media (max-width: 600px) {

	/* header search */
	.header-search .wp-block-search__inside-wrapper {
		display: none;
	}

	/* content */
	.content-grid-2 .wp-block-post-excerpt {
		display: none;
	}

	/* footer */
	footer .wp-block-group:last-child {
		justify-content: center;
		flex-direction: column;
	}

	footer .wp-block-group:last-child .wp-block-group > p {
		order: 2;
	}

	footer .is-content-justification-space-between:first-child {
		align-items: flex-start;
	}

	footer .is-content-justification-space-between {
		display: flex;
		flex-direction: column;
	}

	footer .is-content-justification-space-between .wp-block-group.is-vertical {
		order: 1;
	}

	footer .wp-block-group.is-content-justification-space-between .wp-block-group.is-vertical:nth-child(2) {
    order: 3;
	}

	footer .wp-block-group.is-content-justification-space-between .wp-block-group.is-vertical:nth-child(3) {
			order: 4;
	}

	footer .wp-block-group.is-content-justification-space-between .wp-block-group.is-vertical:nth-child(4) {
			order: 5;
			padding-bottom: var(--wp--preset--spacing--base);
	}

	footer .wp-block-group.is-content-justification-space-between .wp-block-group.is-vertical:last-child {
			order: 2;
			padding-bottom: var(--wp--preset--spacing--base);
	}

}