/*
 * custom css styles
 */

 /*
	* Global styles
 */
 .wp-block-navigation__responsive-container.is-menu-open {
	padding-top: var(--wp--preset--spacing--medium) !important;
	padding-right: var(--wp--preset--spacing--medium) !important;
	padding-bottom: var(--wp--preset--spacing--medium) !important;
	padding-left: var(--wp--preset--spacing--medium) !important;
}

footer .wp-block-button__link {
	min-width: 140px;
 @media screen and (max-width: 1440px) {

	/* header social network */
	/* reorder header navigation */
	.header-social-network .wp-block-site-title {
			order: 1;
	}

	/* Navigation */
	.header-social-network .wp-block-navigation {
			order: 3;
			justify-content: flex-end;
	}

	.header-social-network .is-content-justification-right {
			display: none;
	}

	/* header search */
	.header-search .is-content-justification-right {
		flex-direction: row;
		align-items: center;
  }

}


@media (max-width: 1000px) {
	/* display breakpoint hamburger menu to 1000px */
	.wp-block-navigation__responsive-container-open:not(.always-shown) {
			display: flex !important;
	}

	.wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
		display: none;
		position: relative;
  }

	/* header search */
	.header-search .wp-block-group {
		flex-direction: row-reverse;
	}

	.header-search .is-content-justification-right {
		flex-direction: row-reverse;
  }

	/* header search CTA */
	.header-search-cta .is-content-justification-right {
		flex-direction: row-reverse;
  }

	.header-search-cta .wp-block-search__inside-wrapper {
		display: none;
  }

}

@media (max-width: 600px) {

	/* header search */
	.header-search .wp-block-search__inside-wrapper {
		display: none;
	}

}